@font-face {
    font-family: 'zabras';
    src: url('fonts/Zabars.ttf') format('truetype');
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'zabras', sans-serif;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url('img/menu/background.png');
    background-position: center;
    overflow: hidden;
}

.menu {
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 48px;
}

.menu button {
    font-family: 'zabras', sans-serif;
    letter-spacing: 5px;
    width: 150px;
    padding: 12px;
    font-size: 22px;
    border: none;
    background: #EA5F00;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

.menu button:hover {
    background: #cc5500;
}

h1 {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100px;
    width: 600px;
    font-size: 88px;
    letter-spacing: 8px;
    text-shadow: 3px 2px 9px rgb(0, 0, 0, 0.5);
}

.startscreen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.startscreen img {
    width: 100%;
    max-width: 720px;
    border-radius: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #ff6600;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: white;
}

.control-h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.control-line {
    width: 120px;
    height: auto;
}

.control-line img {
    max-width: 20px;
    max-height: 20px;
    width: auto;
    height: auto;
    vertical-align: middle;
}

canvas {
    background-color: black;
    display: none;
    border-radius: 24px;
    border-width: 18px;
}

#canvas-container {
    position: relative;
    display: inline-block;
}

.fade-out {
    animation: fadeOut 1s forwards;
}

.fade-in {
    animation: fadeIn 1s forwards;
}

#win-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.win-image {
    width: 300px;
    margin-bottom: 20px;
}

.win-button {
    font-family: 'zabras', sans-serif;
    letter-spacing: 5px;
    background: #EA5F00;
    color: black;
    border-radius: 10px;
    border: none;
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    font-size: 22px;
    cursor: pointer;
}

.win-button:hover {
    background: #cc5500;
}

#lose-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: none;
    z-index: 100;
}

.lose-image {
    width: 300px;
    margin-bottom: 20px;
}

#mute-button {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}

#mute-icon {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}

#touch-controls {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    z-index: 998;
}

#mobile-controls-left {
    display: flex;
    margin-left: 20px;
}

#mobile-controls-right {
    display: flex;
    margin-right: 20px;
}

.control-btn {
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
    background-color: transparent; 
    border: none;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 56px;
}

.control-btn img {
    width: 40px;
    height: 40px;
    pointer-events: none;
}

#btn-throw img {
    width: 55px;
    height: 55px;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}


@media only screen and (max-height: 480px) {
    h1 {
        display: none;
    }

    canvas {
        height: 100vh;
    }
}

#rotate-device-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EA5F00;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

#rotate-device-message img {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
    animation: rotate 2s infinite ease-in-out;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(-90deg);
    }
}

@media screen and (orientation: portrait) {
    #rotate-device-message {
        display: flex;
    }

    #canvas,
    #menu,
    #win-menu,
    #lose-menu,
    .mobile-buttons {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .mobile-buttons {
        display: flex !important;
    }
}

@media screen and (min-width: 769px) {
    .mobile-buttons {
        display: none !important;
    }
}