@font-face {
    font-family: 'PeraltaRegular';
    src: url('./fonts/Peralta-Regular.ttf') format('truetype');
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'PeraltaRegular', sans-serif;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url('img/menu/background.png');
    background-position: center;

}

canvas {
    background-color: black;
}